.footextension{
  background-color: #0E0D24;
  margin-top: 2px;
  padding: 5px;
}
.footextension .menu{
  margin: 5px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.footextension .menu .leftcontent{
  color: #FFFFFF;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
}
.footextension .menu .rightcontent{
  color:#FFFFFF;
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
}