.footer {
  padding-top: 45px;
  background-color: #0e0d24;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.footerleftmenu {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
  

}

.footermiddlemenu {
  display: flex;
  justify-content: center;
}

.footerrightmenu {
  
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.footerleftmenu .logobutton {

  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  width: fit-content;
  padding: 17px 67px;
}

.footerleftmenu .text1 {

  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.footermiddlemenu {
  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.footerrightmenu {

  color: #ffffff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

