.header {
  background-color: #222229;
  padding: 11.5px 0px;
}
.header .headercontent {
  display: flex;
  justify-content: space-between;
}
.header .leftmenu{
   display: flex;
   align-items: center;
   gap: 35px;
}
.header .rightmenu{
  display: flex;
  align-items: center;
  gap : 35px
}
.header .headercontent .leftmenu .logo {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.header .headercontent .leftmenu .ourservices {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.rightmenu .logintext {
  color: white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.rightmenu .servicesbtn {
  background-color: #40904b;
  border-radius: 8px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  padding: 6px 16px;
}
