.maincards{
  margin-bottom: 25px ;
  
}
#card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    padding: 10px;
    height: 100%;
    
  }
 
  #card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

  }
  
#cardtitle{
    font-size: large;
    color: rebeccapurple;
}
  
  #cardprice {
    font-size: 1.25rem;
    font-weight: bold;
    color: black;
  }
  
  #carddescription {
    font-size: 1.25rem;
    font-weight: bolder;
    font-style: italic;
    color: black;
    word-break: break-all;
  }
 
 